@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using FPTBook.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject ApplicationDbContext _Db

@if (SignInManager.IsSignedIn(User))
{
    <a style="border: 2px solid black !important;margin-right: 10px !important;height: 40px;" 
       class="btn text-capitalize ms-auto pe-2 ms-2 ps-2 pt-2 pb-2 me-0" role="button" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
        @UserManager.GetUserAsync(User).Result.Fullname
    </a>
    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
          asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        
        @if(!User.IsInRole("OWNER") && !User.IsInRole("ADMIN")){
            var count = 0;
            var userId = UserManager.GetUserId(User);
            var orderBook = _Db.OrderedBooks.Where(o => o.UserId == userId).ToList();
            foreach (var item in orderBook)
            {
                if (item.IsOrdered == false)
                {
                    count++;
                }
            }
            <a class="header__cart-wrap btn" asp-area="Identity" asp-controller="Cart" asp-action="Index" asp-route-id="userId">
                <i class="header__cart-icon fa-solid fa-cart-shopping"></i>
                <span class="header__cart-notice">@count</span>
            </a>
 
        }
        <button type="submit" class="btn ms-auto pe-2 ms-2 ps-2 pt-2 pb-2 me-2">LOG OUT</button>
    </form>
    
    
}
else
{
    <div class="d-grid gap-2 d-md-block">
    <a class="btn btn-outline-primary" role="button" asp-area="Identity" asp-page="/Account/Login">
        <i class="bi bi-box-arrow-in-right me-2"></i>Login
    </a>
        <a class="btn btn-primary" role="button" asp-area="Identity" asp-page="/Account/Register" style="background-color: dodgerblue;">
        <i class="bi bi-person-plus me-2"></i>Register
    </a>
</div>
}
