@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using FPTBook.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject ApplicationDbContext _Db

@if (SignInManager.IsSignedIn(User))
{
    <a style="border: 2px solid black !important;margin-right: 10px !important;height: 40px;" 
       class="btn text-capitalize ms-auto pe-2 ms-2 ps-2 pt-2 pb-2 me-0" role="button" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
        @UserManager.GetUserAsync(User).Result.Fullname
    </a>
    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
          asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        
        @if(!User.IsInRole(Role.Owner) && !User.IsInRole(Role.Admin)){
            var count = 0;
            var userId = UserManager.GetUserId(User);
            var orderBook = _Db.OrderedBooks.Where(o => o.UserId == userId).ToList();
            foreach (var item in orderBook)
            {
                if (item.IsOrdered == false)
                {
                    count++;
                }
            }
            <a class="header__cart-wrap btn" asp-area="Identity" asp-controller="OrderedBook" asp-action="Index" asp-route-id="userId">
                <i class="header__cart-icon fa-solid fa-cart-shopping"></i>
                <span class="header__cart-notice">@count</span>
            </a>
            <style>
                .header__cart-wrap{
                    position: relative;
                    display: inline-block;
                    padding: 0 2px;
                    cursor: pointer;
                    margin: 0 !important;
                }
                
                .header__cart-icon{
                    font-size: 1.4rem;
                    color: black;
                    margin-top: 6px;
                }
                
                .header__cart-notice{
                    position: absolute;
                    padding: 2px 5px;
                    font-size: 1rem;
                    line-height: 0.8rem;
                    color: black;
                    background-color: white;
                    border-radius: 10px;
                    border: 2px solid gray;
                    top: -6px;
                    right: -10px;
                }
            </style>
        }
        <button type="submit" class="btn ms-auto pe-2 ms-2 ps-2 pt-2 pb-2 me-2">LOG OUT</button>
    </form>
    
    
}
else
{
    <a class="btn ms-auto pe-2 ms-2 ps-2 pt-2 pb-2 me-0" role="button" asp-area="Identity"
    asp-page="/Account/Login">LOGIN</a>
    <a class="btn btn-dark ps-1 pe-1 mt-2 mb-2 me-2 ms-2 pt-2 pb-2" role="button" style="margin-right: 4px"
    asp-area="Identity" asp-page="/Account/Register">REGISTER&nbsp;</a>

}
