@model List<Category>

@{
    ViewBag.Title = "Category";
    Layout = "_Layout";
}

<style>
    table td {
        transition: background-color 0.3s ease;
    }

        table td:hover {
            background-color: #f5f5f5;
        }
</style>

<div class="container">
    <h1 class="text-center"><strong>List of Categories</strong></h1>
    <div class="col-md-12 search-table-col" style="padding-top: 0px;margin-top: 0px;">
        <button class="btn btn-primary" type="button">
            <a class="text-white m-0 font-weight-bold" style="text-decoration: none" asp-controller="BookGenreRequest"
               asp-action="Create">Add new book categories</a>
        </button>
        <div class="table-responsive table table-hover table-bordered results">
            <table class="table table-hover table-bordered mx-auto">
                <thead class="bill-header cs">
                    <tr>
                        <th id="trs-hd-1" class="col-lg-1">STT</th>
                        <th id="trs-hd-2" class="col-lg-2">Name</th>
                        <th id="trs-hd-3" class="col-lg-2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@item.Id</th>
                            <td>@item.Name</td>
                            <td>
                                <a class="btn btn-warning" href="@Url.Action("Update", new { id = item.Id })">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a class="btn btn-danger" href="@Url.Action("Delete", new { id = item.Id })">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>