@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <section class="h-100 bg-dark">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col">
                    <div class="card card-registration my-4">
                        <div class="row d-flex justify-content-center align-items-center h-100">
                            <div class="col-xl-6 d-none d-xl-block">
                                <img src="~/assets/images/register.jpg" />
                            </div>
                            <div class="col-xl-6">
                                <div class="card-body p-md-5 text-black">
                                    <h3 class="mb-5 text-uppercase">User registration form</h3>

                                    <div class="row">
                                        <form>
                                            <div class="form-outline mb-4">
                                                <input type="text" id="username" class="form-control form-control-lg" />
                                                <label class="form-label" for="username">Username</label>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6 mb-4">
                                                    <div class="form-outline">
                                                        <input type="text" id="firstName" class="form-control form-control-lg" />
                                                        <label class="form-label" for="firstName">First name</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mb-4">
                                                    <div class="form-outline">
                                                        <input type="text" id="lastName" class="form-control form-control-lg" />
                                                        <label class="form-label" for="lastName">Last name</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-outline mb-4">
                                                <input type="password" id="password" class="form-control form-control-lg" />
                                                <label class="form-label" for="password">Password</label>
                                            </div>

                                            <div class="form-outline mb-4">
                                                <input type="email" id="email" class="form-control form-control-lg" />
                                                <label class="form-label" for="email">Email</label>
                                            </div>

                                            <div class="form-outline mb-4">
                                                <input type="tel" id="phoneNumber" class="form-control form-control-lg" />
                                                <label class="form-label" for="phoneNumber">Phone number</label>
                                            </div>

                                            <div class="form-group mb-4">
                                                <label class="form-label" for="gender">Gender</label>
                                                <select id="gender" class="form-select form-select-lg">
                                                    <option value="" disabled selected>Gender</option>
                                                    <option value="female">Female</option>
                                                    <option value="male">Male</option>
                                                    <option value="other">Other</option>
                                                </select>
                                            </div>

                                            <div class="form-outline mb-4">
                                                <input type="date" id="birthdate" class="form-control form-control-lg" />
                                                <label class="form-label" for="birthdate">Birthdate</label>
                                            </div>

                                            <div class="form-outline mb-4">
                                                <input type="text" id="address" class="form-control form-control-lg" />
                                                <label class="form-label" for="address">Address</label>
                                            </div>

                                            <div class="d-flex justify-content-end pt-3">
                                                <button type="submit" class="btn btn-primary btn-lg btn-block">Sign up</button>
                                            </div>
                                        </form>
                                        <div class="option-container my-4 pt-3 d-flex justify-content-center text-center">
                                            <div class="lead-text">Do not have an account? <a class="text-link" href="~/CustomerAccount/Login">Login</a></div>
                                        </div>
                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
