@model FPTBook.ViewModels.User.UpdatePassword

@{
    ViewBag.Title = "Change User Password";
    Layout = "_Layout";
}

<h1 class="text-center text-capitalize" style="color: #034ea2; font-size:3.5vw;">Edit Customer Password</h1>

<form asp-action="ChangeCustomerPassword" method="post" style="width:55%;margin-left:16vw;">
    <input asp-for="Id" type="hidden" value="@Model.Id" />
    <div class="form-group font-weight-bold h5">
        <label>New Password</label>
        <input value="" name="Password" asp-for="Password" class="form-control"
            placeholder="Enter a new password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <div class="form-group d-flex justify-content-between">
            <button type="reset" class="btn btn-danger">Cancel</button>
            <button asp-controller="User" asp-action="ChangeCustomerPassword" type="submit" class="btn btn-primary" value="Confirm" onclick="return alert('The password has been updated successfully!')">Confirm</button>
        </div>
    </div>
</form>
