@model List<ApplicationUser>

@{
    ViewBag.Title = "Owners";
    Layout = "_Layout";
}

<div class="container">
    <h1 class="text-center"><strong>List of Owner</strong></h1>
    <form asp-controller="User" asp-action="Index">
        <p>
            User: <input type="text" name="SearchString" />
            <input type="submit" value="Filter" />
        </p>
    </form>
    <div class="col-md-12 search-table-col" style="padding-top: 0px;margin-top: 0px;"><span class="counter pull-right"></span>
            <div class="table-responsive table table-hover table-bordered results">
                <table class="table table-hover table-bordered">
                    <thead class="bill-header cs">
                    <tr>
                        <th id="trs-hd-1" class="col-lg-2">Full Name</th>
                        <th id="trs-hd-2" class="col-lg-2">Email</th>
                        <th id="trs-hd-3" class="col-lg-2">Phone Number</th>
                        <th id="trs-hd-4" class="col-lg-2">HOME ADDRESS</th>
                        <th id="trs-hd-5" class="col-lg-2">Action</th>
                    </tr>
                    </thead>
                    <tbody class="text-center">
                    @foreach (var item in Model)
                    {
                        <tr class="warning no-result">
                            <td colspan="12"><i class="fa fa-warning"></i>&nbsp; No Result !!!</td>
                        </tr>
                        <tr>
                            <td><span style="color: rgb(33, 37, 41);">@Html.DisplayFor(modelItem => item.Fullname)</span><br></td>
                            <td><span style="color: rgb(33, 37, 41); background-color: var(--bs-table-bg);">@Html.DisplayFor(modelItem => item.Email)</span><br></td>
                            <td><span style="color: rgb(33, 37, 41);">@Html.DisplayFor(modelItem => item.PhoneNumber)</span><br></td>
                            <td><span style="color: rgb(33, 37, 41);">@Html.DisplayFor(modelItem => item.HomeAddress)</span><br></td>
                            <td>
                                <button class="btn btn-dark" type="button">
                                    <a class="text-white" style="text-decoration: none" asp-controller="User" asp-action="ChangeOwnerPassword" asp-route-id=@item.Id>
                                        <i class="bi bi-pencil-square"></i> Change Password
                                    </a>
                                </button>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
</div>
