@model List<ApplicationUser>

@{
    ViewBag.Title = "Owners";
    Layout = "_Layout";
}
<style>
    .table-hover tbody tr:hover {
        background-color: #f5f5f5;
        transition: all 0.3s ease-in-out;
    }

        .table-hover tbody tr:hover td {
            color: #000;
        }

        .table-hover tbody tr:hover a {
            color: #fff;
        }

</style>


<div class="container">
    <h1 class="text-center"><strong>List of Owners</strong></h1>
    <form asp-controller="User" asp-action="Index">
        <div class="form-group">
            <label for="search" class="col-sm-2 control-label">Search</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="search" name="SearchString">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Filter</button>
    </form>
    <div class="table-responsive mt-5">
        <table class="table table-hover table-bordered">
            <thead class="bg-dark text-light">
                <tr>
                    <th class="col-lg-2">Full Name</th>
                    <th class="col-lg-2">Email</th>
                    <th class="col-lg-2">Phone Number</th>
                    <th class="col-lg-4">Home Address</th>
                    <th class="col-lg-2">Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model == null || !Model.Any())
                {
                    <tr class="warning no-result">
                        <td colspan="12"><i class="fa fa-warning"></i>&nbsp; No Result !!!</td>
                    </tr>
                }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Fullname)</td>
                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                        <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                        <td>@Html.DisplayFor(modelItem => item.HomeAddress)</td>
                        <td>
                            <button class="btn btn-secondary">
                                <a class="text-white" style="text-decoration: none" asp-controller="UserManage" asp-action="ChangeOwnerPassword" asp-route-id=@item.Id>
                                    <i class="bi bi-pencil-square"></i> Change Password
                                </a>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
