@{
    ViewBag.Title = "Checkout Successfully";
    Layout = "_Layout";
}

<div class="container">
    <!-- Start: Simple Slider -->
    <div class="simple-slider">
        <!-- Start: Slideshow -->
        <div class="swiper-container">
            <!-- Start: Previous -->
            <div class="swiper-button-prev"></div>
            <!-- End: Previous --><!-- Start: Next -->
            <div class="swiper-button-next"></div>
            <!-- End: Next -->
        </div>
        <!-- End: Slideshow -->
    </div>
    <!-- End: Simple Slider -->
    <h1 class="text-center">
        <strong>THANK YOU FOR BUYING THE BOOK!</strong>
    </h1>
</div>
<div class="container text-center">
    <img class="img-fluid"
        src="/assets/img/White%20Pay%20Later%20Instagram%20Post.png?h=d372cc22d107b4588ffbc4a53d6ff0b6" />
</div>
