@{
    Layout = "~/Views/Shared/HeaderFooter.cshtml";
    ViewBag.title = "Homepage";
}

<!-- banner section end -->
<div class="banner_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="weather-in-the-city">
                    <h2 class="city-name"></h2>
                    <h4 class="weather-status"></h4>
                    <img src="http://openweathermap.org/img/wn/10d@2x.png"
                         alt=""
                         class="img-weather" />
                    <p class="weather-status"></p>
                    <p class="current-temp"></p>
                </div>
                <div class="banner_taital">Enjoy <br>a book like sipping a cup of tea</div>
                <p class="banner_text">Reading can help improve brain function by increasing vocabulary, improving memory, and enhancing critical thinking skills.</p>
                <div class="see_bt"><a href="#">See More</a></div>
            </div>
            <div class="col-md-6">
                <div class="play_icon">
                    <a href="#"><img src="~/assets/images/play-icon.png" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- banner section end -->
<!-- arrival section start -->
<div class="arrival_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="image_1">
                    <h2 class="jesusroch_text">J E S U S R O C H</h2>
                    <p class="movie_text">Hollywood Movie</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="image_2">
                    <h2 class="jesusroch_text">J E S U S R O C H</h2>
                    <p class="movie_text">Hollywood Movie</p>
                </div>
            </div>
            <div class="col-sm-8 col-lg-4">
                <h1 class="arrival_text">A r r i v a l</h1>
                <div class="movie_main">
                    <div class="mins_text_1">150 mins</div>
                    <div class="mins_text">Actions Movie</div>
                    <div class="mins_text"><img src="images/icon-1.png"><span class="icon_1">Watchlist</span></div>
                </div>
                <p class="long_text">
                    It is a long established fact that a reader will be distracted by the readable
                    content of a page when looking at its layout. The point of using Lorem
                </p>
                <div class="rating_main">
                    <div class="row">
                        <div class="col-sm-6 col-lg-6">
                            <div class="icon_2">
                                <img src="images/icon-2.png"><span class="padding_10">4.6 Revieweed</span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="icon_2">
                                <img src="images/icon-2.png"><span class="padding_10">Your Rateing</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="paly_bt"><a href="#">Play Now</a></div>
            </div>
        </div>
    </div>
</div>
<!-- arrival section end -->
<!-- movies section start -->
<div class="movies_section layout_padding">
    <div class="container">
        <div class="movies_menu">
            <ul>
                <li class="active"><a href="#">Overview</a></li>
                <li><a href="tv.html">Fiction</a></li>
                <li><a href="movies.html">Sport</a></li>
                <li><a href="celebs.html">Art book</a></li>
                <li><a href="#">Sports</a></li>
                <li><a href="#">Phisology</a></li>
                <li><a href="#">Cartoon</a></li>
            </ul>
        </div>
        <div class="movies_section_2 layout_padding">
            <h2 class="letest_text">Letest Movies</h2>
            <div class="seemore_bt"><a href="#">See More</a></div>
            <div class="movies_main">
                <div class="iamge_movies_main">
                    <div class="iamge_movies">
                        <div class="image_3">
                            <img src="images/img-3.png" class="image" style="width:100%">
                            <div class="middle">
                                <div class="playnow_bt">Play Now</div>
                            </div>
                        </div>
                        <h1 class="code_text">CADE Prlor</h1>
                        <p class="there_text">There are many variations </p>
                        <div class="star_icon">
                            <ul>
                                <li><a href="#"><img src="images/star-icon.png"></a></li>
                                <li><a href="#"><img src="images/star-icon.png"></a></li>
                                <li><a href="#"><img src="images/star-icon.png"></a></li>
                                <li><a href="#"><img src="images/star-icon.png"></a></li>
                                <li><a href="#"><img src="images/star-icon.png"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="iamge_movies">
                        <div class="image_3">
                            <img src="images/img-4.png" class="image" style="width:100%">
                            <div class="middle">
                                <div class="playnow_bt">Play Now</div>
                            </div>
                        </div>
                        <h1 class="code_text">Bradon</h1>
                        <p class="there_text">There are many variations </p>
                        <div class="star_icon">
                            <ul>
                                <li><a href="#"><img src="images/star-icon.png"></a></li>
                                <li><a href="#"><img src="images/star-icon.png"></a></li>
                                <li><a href="#"><img src="images/star-icon.png"></a></li>
                                <li><a href="#"><img src="images/star-icon.png"></a></li>
                                <li><a href="#"><img src="images/star-icon.png"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="iamge_movies">
                        <div class="image_3">
                            <img src="images/img-5.png" class="image" style="width:100%">
                            <div class="middle">
                                <div class="playnow_bt">Play Now</div>
                            </div>
                        </div>
                        <h1 class="code_text">Anton Levin</h1>
                        <p class="there_text">There are many variations </p>
                        <div class="star_icon">
                            <ul>
                                <li><a href="#"><img src="images/star-icon.png"></a></li>
                                <li><a href="#"><img src="images/star-icon.png"></a></li>
                                <li><a href="#"><img src="images/star-icon.png"></a></li>
                                <li><a href="#"><img src="images/star-icon.png"></a></li>
                                <li><a href="#"><img src="images/star-icon.png"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="iamge_movies">
                        <div class="image_3">
                            <img src="images/img-6.png" class="image" style="width:100%">
                            <div class="middle">
                                <div class="playnow_bt">Play Now</div>
                            </div>
                        </div>
                        <h1 class="code_text">Sacha Styles</h1>
                        <p class="there_text">There are many variations </p>
                        <div class="star_icon">
                            <ul>
                                <li><a href="#"><img src="images/star-icon.png"></a></li>
                                <li><a href="#"><img src="images/star-icon.png"></a></li>
                                <li><a href="#"><img src="images/star-icon.png"></a></li>
                                <li><a href="#"><img src="images/star-icon.png"></a></li>
                                <li><a href="#"><img src="images/star-icon.png"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="iamge_movies">
                        <div class="image_3">
                            <img src="images/img-7.png" class="image" style="width:100%">
                            <div class="middle">
                                <div class="playnow_bt">Play Now</div>
                            </div>
                        </div>
                        <h1 class="code_text">Katledrazdu</h1>
                        <p class="there_text">There are many variations </p>
                        <div class="star_icon">
                            <ul>
                                <li><a href="#"><img src="images/star-icon.png"></a></li>
                                <li><a href="#"><img src="images/star-icon.png"></a></li>
                                <li><a href="#"><img src="images/star-icon.png"></a></li>
                                <li><a href="#"><img src="images/star-icon.png"></a></li>
                                <li><a href="#"><img src="images/star-icon.png"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="seebt_1"><a href="#">See More</a></div>
    </div>
</div>
<!-- movies section end -->
<!-- newsletter section start -->
<div class="newsletter_section layout_padding">
    <div class="container">
        <h1 class="newsletter_text">Subscribe Our Newsletter</h1>
        <div class="box_main">
            <p class="dummy_text">
                It is a long established fact that a reader will be distracted by the readable content
                of a page when looking
            </p>
            <div class="mail_main">
                <input type="text" class="email_text" placeholder="Enter Your email" name="Enter Your email">
                <div class="right_arrow">
                    <a href="#"><img src="images/right-arrow.png"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- newsletter section end -->
<!-- cooming  section start -->
<div class="cooming_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="image_17">
                    <div class="image_17"><img src="images/img-17.png"></div>
                </div>
            </div>
            <div class="col-md-6">
                <h1 class="number_text">01</h1>
                <h1 class="Cooming_soon_taital">Cooming soon</h1>
                <p class="long_text_1">
                    It is a long established fact that a reader will be distracted by the readable
                    content of a page when looking
                </p>
                <div class="paly_bt"><a href="#">Play Now</a></div>
            </div>
        </div>
    </div>
</div>
<!-- cooming  section end -->
