
@model FPTBook.ViewModels.BookCategoryViewModels
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using FPTBook.Data
@inject UserManager<ApplicationUser> _userManager;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- banner section end -->
<div class="banner_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="weather-in-the-city">
                    <h2 class="city-name"></h2>
                    <h4 class="weather-status"></h4>
                    <img src="http://openweathermap.org/img/wn/10d@2x.png"
                         alt=""
                         class="img-weather" />
                    <p class="weather-status"></p>
                    <p class="current-temp"></p>
                </div>
                <div class="banner_taital">Enjoy <br>a book like sipping a cup of tea</div>
                <p class="banner_text">Reading can help improve brain function by increasing vocabulary, improving memory, and enhancing critical thinking skills.</p>
                <div class="see_bt"><a href="#">See More</a></div>
            </div>
            <div class="col-md-6">
                <div class="play_icon">
                    <a href="#"><img src="~/assets/images/play-icon.png" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- banner section end -->
<!-- movies section start -->
<div class="movies_section layout_padding">
    <div class="container">
        <div class="movies_menu">
            <ul>
                <li class="active"><a href="#">Overview</a></li>
                <li><a href="tv.html">Fiction</a></li>
                <li><a href="movies.html">Sport</a></li>
                <li><a href="celebs.html">Art book</a></li>
                <li><a href="#">Sports</a></li>
                <li><a href="#">Phisology</a></li>
                <li><a href="#">Cartoon</a></li>
            </ul>
        </div>
        <div class="movies_section_2 layout_padding">
            <h2 class="letest_text">Latest Books</h2>
            <div class="wrapper-container-list">
                @foreach (var item in Model.Books.TakeLast(4))
                {
                    var userId = _userManager.GetUserId(User);
                    <div class="card-item-product">
                        <a asp-controller="Book" asp-action="Detail" asp-route-id="@item.Id">
                            <img src="@item.Image" class="card-img-top" loading="lazy" />
                        </a>

                        <div class="card-body-product">
                            <div class="text-center">
                                <a asp-controller="Book" asp-action="Detail" asp-route-id="@item.Id" class="text-muted mb-4">
                                    @item.Title
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="seebt_1"><a href="#">See More</a></div>
    </div>
</div>
<!-- movies section end -->
<!-- newsletter section start -->
<div class="newsletter_section layout_padding">
    <div class="container">
        <h1 class="newsletter_text">Subscribe Our Newsletter</h1>
        <div class="box_main">
            <p class="dummy_text">
                It is a long established fact that a reader will be distracted by the readable content
                of a page when looking
            </p>
            <div class="mail_main">
                <input type="text" class="email_text" placeholder="Enter Your email" name="Enter Your email">
                <div class="right_arrow">
                    <a href="#"><img src="~/assets/images/right-arrow.png" /></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- newsletter section end -->
<!-- cooming  section start -->
<div class="cooming_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="image_17">
                    <img src="~/assets/images/img-17.png" />
                </div>
            </div>
            <div class="col-md-6">
                <h1 class="number_text">01</h1>
                <h1 class="Cooming_soon_taital">Cooming soon</h1>
                <p class="long_text_1">
                    It is a long established fact that a reader will be distracted by the readable
                    content of a page when looking
                </p>
                <div class="paly_bt"><a href="#">Play Now</a></div>
            </div>
        </div>
    </div>
</div>
<!-- cooming  section end -->
