@model FPTBook.ViewModels.BookCreate

@{
    ViewBag.Title = "Create New Book";
    Layout = "_Layout";
}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form asp-action="Create">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Title" class="control-label">Title</label>
                            <input style="text-align: center" asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Author" class="control-label">Author</label>
                            <input style="text-align: center" asp-for="Author" class="form-control" />
                            <span asp-validation-for="Author" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Image" class="control-label">Image</label>
                    <input style="text-align: center" asp-for="Image" class="form-control" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Summary" class="control-label">Summary</label>
                    <textarea style="text-align: center" asp-for="Summary" class="form-control"></textarea>
                    <span asp-validation-for="Summary" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label">Price</label>
                    <input style="text-align: center" asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Category" class="control-label">Category</label>
                    <select style="text-align: center" asp-for="Category" class="form-control" asp-items="ViewData.Model.Categories"></select>
                </div>
                <br />
                <div class="form-group text-center">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <a class="btn btn-danger" asp-action="Index">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
