@model FPTBook.Models.Book

<h1>Add Book</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="CategoryID" class="control-label"></label>
        <select asp-for="CategoryID" class="form-control" asp-items="@(new SelectList(ViewBag.Categories, "CategoryID", "CategoryName"))" required></select>
        <span asp-validation-for="CategoryID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PublisherID" class="control-label"></label>
        <select asp-for="PublisherID" class="form-control" asp-items="@(new SelectList(ViewBag.Publishers, "PublisherID", "PublisherName"))" required></select>
        <span asp-validation-for="PublisherID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BookName" class="control-label"></label>
        <input asp-for="BookName" class="form-control" required />
        <span asp-validation-for="BookName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BookPrice" class="control-label"></label>
        <input asp-for="BookPrice" class="form-control" required />
        <span asp-validation-for="BookPrice" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control" rows="4" required></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Image" class="control-label"></label>
        <input asp-for="Image" class="form-control" required />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BookCount" class="control-label"></label>
        <input asp-for="BookCount" class="form-control" required />
        <span asp-validation-for="BookCount" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>