@model IEnumerable<FPTBook.Models.Book>

<div class="row">
    @foreach (var book in Model)
    {
        <div class="col-md-3 mb-3">
            <div class="card h-100">
                <img src="@book.Image" class="card-img-top" alt="@book.BookName" style="height: 250px; object-fit: contain;" />
                <div class="card-body">
                    <h5 class="card-title">@book.BookName</h5>
                    <h6 class="card-subtitle mb-2 text-muted">$@book.BookPrice</h6>
                </div>
            </div>
        </div>
    }
</div>